.clients {
    h2{
        font-family: poppins;
        color: lighten($dark,20);
    }
  .client {
    img {
      filter: #{"grayscale()"} !important;
      max-width: 100px !important;
      transition: all 400ms ease-in-out;
      &:hover{
        filter: none !important;
        transition: all 400ms ease-in-out;
      }
    }
  }
}
