.features{
   @extend %section-sm;
    .f-card{
        max-width: 400px;
        width: fit-content;
        margin: auto;
    }
    h2{
       @extend %title;
    }
    .row{
        width: fit-content !important;
        margin: auto;
    }
}