footer {
  h3 {
    font-family: "roboto";
    font-weight: 800;
  }
  .nav-item{
      padding: .34rem 0rem;
      font-size: .9rem;
  }
  address,.nav-item{
      font-family: roboto;
  }
  .float-end{
      font-size: .9rem;
  }
  a{
    color: white !important;
  }
}
