.services-home{
    padding: 9% 0em;
    min-height: 100vh;
    h2{
        font-weight: 700;
        font-size: 2em;
        font-family: poppins;
        &::after{
            content: " ";
            border: 3px solid $primary;
            display: block;
            text-align: center;
            margin: auto;
            width: 30%
        }
    }
    h3{
        font-family: "roboto";
        font-weight: 800;
        font-size: 2em;
    }
    p{
        font-family: "poppins-light";
        font-size: .9em;
    }
    .row{
        padding: 1rem 0rem;
    }
    img{
        margin: auto;
    }
    button{
        margin-bottom: 5%;
    }
}