%topbar {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: $dark;
}
.topbar {
  &-home,&-about,&-services {
    @extend %topbar;
  }
  &-home {
    background-image: url("../images/topbar-bg.jpg");
    min-height: 100vh;
  }
  &-about {
    background-image: url("../images/topbar-bg.jpg");
    height: 50vh;
    max-height: 400px !important;
  }
  &-services {
    background-image: url("../images/topbar-bg.jpg");
    height: 50vh;
    max-height: 400px !important;
  }
  .intro {
    &-about{
      margin-top: 10vh;
    }
    &-home{
      margin-top: 20vh;
    }
    p {
      font-size: 1em;
      font-family: "roboto";
    }
    h1 {
      font-family: "poppins";
      font-weight: bold;
      font-size: $headline;
    }
    h2 {
      font-family: "poppins";
      font-weight: bold;
      font-size: $subheading;
    }
    .content {
      &{

        width: 70%;
      }
      &-about{
        width: 90%;
      }
    }
  }
  .trust-note {
    font-size: 1em;
    font-family: "poppins";
  }
}
@media (max-width: 900px) {
  .trust-note {
    font-size: 0.8em !important;
  }
  .topbar-home {
    min-height: 110vh !important;
  }
  .content {
    width: 99% !important;
  }
}
