.wwa {
  min-height: 100vh;
  padding: 10% 0em;
  h2 {
    font-family: "poppins";
    font-size: $heading;
    font-weight: bold;
  }
  h3 {
    font-family: roboto;
    font-weight: 900;
    font-size: 1.75em;
  }
  .grad {
    background-image: $gradient;
    background-size: contain;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-family: poppins-light, roboto, "segoe ui", sans-serif;
  }
}
