.wwa {
  @extend %section;
  min-height: 100vh;
  padding: 10% 0em;
 
  h2 {
    font-family: "poppins";
    font-size: $heading;
    font-weight: bold;
  }
  h3 {
    font-family: roboto;
    font-weight: 900;
    font-size: 1.75em;
  }
  p {
    font-family: poppins-light, roboto, "segoe ui", sans-serif;
  }
}
