@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

//general
@import "top-section";
@import "navbar";
@import "clients";
@import "border";

//homepage
@import "who_we_are";
@import "home_services";
@import "features";
@import "news_letter_home";
@import "about_home";
@import "footer";

//Anout Page
@import "About/content";

//services Page
@import "Services/card";
@import "Services/service-info";

.bg {
  &-fade {
    background-color: rgba($dark, 0.5) !important;
  }
  &-l-dark {
    background-color: lighten($dark, 10) !important;
  }
  &-grad {
    background-image: $gradient;
  }
  &-darker {
    background-color: darken($dark, 4) !important;
  }
}


.grad,
.grad-light {
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad {
  background-image: $gradient;
}
.grad-light {
  background-image: $gradient-light;
}
body {
  overflow: overlay;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 1em;
  }
}
.form-control {
  &,
  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }
  &:focus + .input-group-text,
  &:focus {
    border: 1px solid $primary;
    transition: all 400ms ease-in-out;
  }
}
