@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "top-section";
@import "navbar";
@import "who_we_are";
@import "home_services";
.bg-fade {
  background-color: rgba($dark, 0.5) !important;
}
.bg-grad {
  background-image: $gradient;
}
.rounded-border {
  border-radius: 2rem !important;
}
.border-1 {
  border: 2px solid $primary !important;
}
.grad,.grad-light {
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad{
    background-image: $gradient;
}
.grad-light{
    background-image: $gradient-light;
}
body{
    width: 100vw !important;
    overflow-x: hidden;
}