@use "sass:list";
.card {
  &-service {
    padding-top: .5em !important;
    width: auto;
    h1 {
      font-size: 2em;
      padding: 0.5em 0em;
    }
    h2{
        padding: 0.5em 0em;
        font-size: 1.2em;
        text-align: center;
        font-family: lato,poppins,roboto;
    }
    h2,h1 {
      font-family: poppins;
    }
    p{
      font-family: poppins-light;
    }
    .img {
      width: 90% !important
    }
  }
}
.s-1 {
  background-color: darken($color: $primary, $amount: 20);
  height: 100% !important;
  padding: .5em;

}
$colors:(
    rgb(78, 134, 78),//not needed
    rgb(78, 134, 78),
    rgb(78, 134, 112),
    rgb(125, 134, 78),
    rgb(78, 104, 134),
    rgb(78, 121, 134),
    rgb(134, 89, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
);
@for $i from 2 through 10{
    .s-#{$i}{
        background-color: list.nth($colors,$i);
    }
}
@media (max-width:900px) {
  h2{
    font-size: 1.2em !important;
  }
}