@use "sass:list";
.card {
  &-service {
    width: auto;
    h1 {
      font-size: 2em;
      padding: 0.5em 0em;
    }
    h2{
        padding: 0.5em 0em;
        font-size: 1.5em;
    }
    h2,h1 {
      font-family: poppins;
    }
    p{
      font-family: poppins-light;
    }
    .img {
      max-width: 8em !important;
    }
  }
}
.s-1 {
  background-color: darken($color: $primary, $amount: 20);
  height: 100% !important;
  padding: .5em;

}
$colors:(
    rgb(78, 134, 78),//not needed
    rgb(78, 134, 78),
    rgb(78, 134, 112),
    rgb(125, 134, 78),
    rgb(78, 104, 134),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
    rgb(78, 134, 78),
);
@for $i from 2 through 10{
    .s-#{$i}{
        background-color: list.nth($colors,$i);
    }
}
