.service-info{
    p{
        padding: 1.5em;
        background-color: white;
        box-shadow: 1px 1px 5px lightgray;
    }
    *{
        font-family: poppins-light;
    }
    .btn-primary{
        color: white !important;
    }
}