.about-content{
    h2{
        font-family: poppins;
        font-size: $subheading;
        padding:0em .8em;
        font-weight: 900;
        text-transform: uppercase;
        color: $primary;
    }
    p{
        font-family: poppins-light;
    }
    padding: 10% 0px;
}